# Ignorar tudo no wp-content exceto wp-content/plugins e wp-content/themes
/wp-content/*
!/wp-content/plugins/
!/wp-content/themes/

# Plugins e temas específicos que você não quer subir
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/themes/fluxo-mta/node_modules
/wp-content/themes/fluxo-mta/package-lock.json

# Ignorar tudo o que não seja wp-plugins e wp-themes
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configurações
wp-config.php

# Temas de exemplo
/wp-content/themes/twenty*/

# Plugin de exemplo
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Arquivos de log
*.log

# htaccess
/.htaccess

# Vendor
/vendor
composer.lock

#extras
.env
.lando.yml
composer.json
wordpress-backup.tar.gz
